<nav class="nav-bar">
    <div class="nav-logo">Restaurant Finder</div>
    <div class="nav-links">
        <a href="/">Start</a>
        <a href="/RestaurantsOverview">Restaurants</a>
        <a href="/about">Über uns</a>
        <a href="/contact">Kontakt</a>
        <a href="/login">Login / Registrieren</a>
    </div>
</nav>


