<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)"/>
    </Found>
    <NotFound>
        <h1>Seite nicht gefunden</h1>
    </NotFound>
</Router>