body {
    font-family: Arial, sans-serif;
}

.card {
    border-radius: 10px;
    background-color: #ffffff;
}

#newAccount {
    text-align: center;
    color: #007bff;
    text-decoration: none;
    padding: 10px;
}

    #newAccount:hover {
        text-decoration: underline;
    }
