@page "/about"

<h1>Über uns</h1>
<p class="subtext">Wir sind leidenschaftliche Gastronomen, die das Ziel haben, das Reservierungserlebnis so
    <br />
    einfach und angenehm wie möglich zu machen.
</p>

@code {



}
