@page "/RestaurantsOverview"
@inject HttpClient http


<h1>Finden Sie Ihr perfektes Restaurant</h1>
<p class="subtext">Entdecken Sie die besten Restaurants in Ihrer Nähe und reservieren Sie direkt online</p>

<h2>Unsere Partnerrestaurants</h2>

<div class="card-grid">
    @foreach (var r in Restaurants)
    {
        <div class="card">
            <img src="" />
            <h3>@r.Name</h3>
            <p>@r.Address</p>
            <p>@r.OpeningHours</p>
            <p>@r.Website</p>
            <button class="button" >Tisch reservieren</button>
        </div>
    }
</div>




@code {

    private List<Restaurant> Restaurants = new List<Restaurant>();

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }


    private async Task LoadData()
    {
        Restaurants = await http.GetFromJsonAsync<List<Restaurant>>("https://localhost:7038/api/Restaurant");
    }


}

