body {
    font-family: Arial, sans-serif;
}

header h1 {
    color: #343a40;
}

#fetchDataButton {
    font-size: 1.2rem;
    padding: 10px 20px;
}

.table {
    margin-top: 20px;
}

footer {
    background-color: #f8f9fa;
    padding: 10px 0;
    color: #6c757d;
}

    footer a {
        color: #007bff;
        text-decoration: none;
    }

        footer a:hover {
            text-decoration: underline;
        }
